pageTitle = "Histogram"
doctype 5
html(lang="en")
  head
    script(src="https://cdn.plot.ly/plotly-latest.min.js" charset="uft-8")
    script.
      Plotly.plot(document.getElementById('tester'), 
      [ x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16] }]     
      //  x: {{interval}},
      //  y: {{stats}}
      ]);
      console.log(Plotly.BUILD);

  body
    div(id= "tester" style= "width:90%;height:250px;")





    

