.wrap
  h1 Hey there,
  p We realize that count of your tickets grows up rapidly! Here is the graph of your tickets if you think to check out.
  .btn-group
    a(href='#')
      button(type='button' class='btn btn-blue') Browse
  .poem
    p(style='white-space:pre;')
      | Have a great day,
      | The freshdesk-stats support
